setuptools
wheel
arrera-tk
customtkinter
yt_dlp
requests
gTTS
translate
python-docx
odfpy
openpyxl
PyGithub
pyperclip
websocket-client
websockets
pillow
numpy
sounddevice
soundfile
piper-tts
speechRecognition
meteofrance_api
pyradios
python-vlc
llama_cpp_python
pyinstaller
feedparser
winsdk ; sys_platform == 'win32'
pyobjc-framework-CoreLocation ; sys_platform == 'darwin'
pydbus ; sys_platform == 'linux'