yt_dlp
pathlib
tkcalendar
datetime
geocoder
requests
gTTS
translate
python-docx
odfpy
openpyxl
PyGithub
language_tool_python
pyperclip
websocket-client
customtkinter
pillow
playsound3
speechRecognition
meteofrance_api
pyradios
python-vlc
pyspellchecker
tensorflow
numpy
llama_cpp_python
torch
pyttsx3